// Variables for the project to be used in the SaSS files
$primary-color: #5D9FD5;
$secondary-color: #2E77B2;
$primary-color-about: #5D5B5D;
$secondary-color-about: #9A989A;
$primary-color-dashboard: #a18508;
$secondary-color-dashboard: #473b04;
// NavBar colors
$nav-color: #4ca9f5;
$nav-color-dashboard: #a18508;
$nav-color-about: #7e6806;
// Border radius and box shadow
$border-radius: 7px;
$box-shadow: 4px 4px 10px #2c2505;
$box-shadow-dashboard: 4px 4px 10px #473b04;
$text-color: #ffffff;
