// Variables for the project to be used in the SaSS files
$primary-color: #afb7c0;
$secondary-color: #333;
$primary-color-about: #5D5B5D;
$secondary-color-about: #9A989A;
$primary-color-dashboard: #636F7E;
$secondary-color-dashboard: #768393;
// NavBar colors
$nav-color: #333;
$nav-color-dashboard: #333;
$nav-color-about: #333;
// Border radius and box shadow
$border-radius: 7px;
$box-shadow: 4px 4px 10px #060606;
$box-shadow-dashboard: 4px 4px 10px #060606;
$text-color: #ffffff;
