
// Styles defined for the footer element
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:$nav-color;
    color: $text-color;
    box-shadow: $box-shadow;
    border-radius: $border-radius;
    margin: 5px;
    font-family: $font-family;
    font-size: 1rem;
    font-weight: $font-weight;
  }
  .footer-dash {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:$nav-color-dashboard;
    color: $text-color;
    box-shadow: $box-shadow;
    border-radius: $border-radius;
    margin: 5px;
    font-family: $font-family;
    font-size: 1rem;
    font-weight: $font-weight;
  }
  .footer-abt {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:$nav-color-about;
    color: $text-color;
    box-shadow: $box-shadow;
    border-radius: $border-radius;
    margin: 5px;
    font-family: $font-family;
    font-size: 1rem;
    font-weight: $font-weight;
  }