.card-about {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $primary-color-about;
  //   border-radius: $border-radius;
  box-shadow: $box-shadow;
  text-align: center;
  padding: 55px;
  margin: 2px;

  &__header {
    justify-content: center;
    margin-bottom: 1rem;
  }
  &__button {
    background-color: $secondary-color-about;
    padding: 15px 50px;
    font-size: 1rem;
    cursor: pointer;
    text-decoration: none;
  }
  &__body {
    padding: 2rem;
    color: black;
    background-color: $secondary-color-about;
    border-radius: $border-radius;
    box-shadow: $box-shadow;
    width: 50%;
  }
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $primary-color-about;
  box-shadow: $box-shadow;
  text-align: center;
  width: auto;
  padding: 20px;
  margin: 10px;

  form {
    width: 275px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;

    label {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }
  }
}
.p1 {
  display: flex;
  flex-direction: column;
  justify-items: center;
  text-align: center;
  font-size: 1.25rem;
    color: $text-color;
  border: 3px solid #f66d04;
  box-shadow: $box-shadow;
  padding: 10px;
  margin-bottom: 35px;
}
.pad1 {
  padding-top: 50px;
}

.highlight {
  font-weight: 550;
  font-size: 25px;
  color: #f66d04;
}
